.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 118px;
  padding-bottom: 118px;
  
  
  background-color: var(--drk-bg);
  text-align: center;

background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/header/hero-mobile2x.jpg");

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/header/hero-mobile2x.jpg);
  }
        @media screen and (min-width: 768px) {
          background-image: linear-gradient(to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
            url("../images/header/hero-tablet.jpg");
    
          @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
              url("../images/header/hero-tablet2x.jpg");
          }
        }
      
                @media screen and (min-width: 1200px) {
                  background-image: linear-gradient(to right,
                      rgba(47, 48, 58, 0.4),
                      rgba(47, 48, 58, 0.4)),
                    url("../images/header/hero-desctop.jpg");
        
                  @media screen and (min-device-pixel-ratio: 2),
                  screen and (min-resolution: 192dpi),
                  screen and (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                      url("../images/header/hero-desctop2x.jpg");
                  }
                }

                             @media screen and (min-width: 1200px) {
                              padding-top: 200px;
                              padding-bottom: 200px;
}
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

  @media screen and(min-width:1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
