.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);

    @media screen and (min-width: 768px) {
            --card-item:2;
        }
    
     @media screen and (min-width: 1200px) {
            --card-item: 3;
        }
}

.card-item {
    flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}