.registration-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--text-color-blck);
    margin-bottom: 12px;
}

.registration-group {
    margin-bottom: 20px;
}

.registration-agreement {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    justify-content: center;
    cursor: pointer;
}

.registration-file {
    position: relative;

}

.registration-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: fill 250ms var(--cubic);
}

.registration-wrap {
    display: block;
    margin-bottom: 10px;

}

.registration-wrap:last-child {
    margin-bottom: 0;
}

.registration-label {
    margin-bottom: 4px;
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

}

.registration-input:focus,
.registration-input:hover,
.registration-message:focus,
.registration-message:hover {
    border: 1px solid var(--accent-color);
}

.registration-input:focus+.registration-icon,
.registration-input:hover+.registration-icon {
    fill: var(--accent-color);
}

.registration-input,
.registration-message {
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    width: 100%;
    display: block;
    padding-top: 11px;
    padding-left: 42px;
    padding-bottom: 11px;
    border-radius: 4px;
    transition: border 250ms var(--cubic);
}

.registration-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 10px;
    color: var(--text-color-blck);
    background: #FFFFFF;
}

.registration-message::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}



.registration-agreement-check {
    fill: var(--text-color-wht);

}

.registration-checkbox:checked+.registration-agreemen-icon {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);

}

.registration-checkbox:hover+.registration-agreemen-icon,
.registration-checkbox:focus+.registration-agreemen-icon {

    border: 2px solid var(--accent-color);

}

.registration-agreemen-icon {
    width: 16px;
    height: 15px;
    border: 2px solid black;
    transition: border 250ms var(--cubic);
    transition: ackground-color 250ms var(--cubic);
}

.registration-link {
    color: var(--accent-color);
}