.nav {
  color: var(--text-color-blck);

  
}

.contact-mail {
  fill: currentColor;
  margin-right: 10px;
}
.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--cubic);
  }
    @media screen and (max-width:767px) {
      display: none;
    }
}

.nav-contacts {

  display: none;

  @media screen and (min-width:768px) {
    
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    flex-direction: column;
    gap: 10px;

    }

  @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row;
  }
}
.nav-contacts__link{
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    
  }
}

.nav-contacts__link:hover,
.nav-contacts__link:focus
{
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: transform var(--cubic);
}

.nav__item:hover,
.nav__item:focus {
  color: var(--accent-color) ;
  transition: transform var(--cubic);

}