.filter-btn {
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: #f5f4fa;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 6px 22px;
    transition: color 250ms var(--cubic),
        box-shadow 250ms var(--cubic),
        background-color 250ms var(--cubic);
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.filter-link {
    align-items: center;
}

.filter-btn:hover {
    background-color: var(--accent-color);
    color: var(--text-color-wht);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--text-color-wht);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}